* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8DAB7F;
    font-family: 'Oswald', Courier, monospace;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: coral;
}

a:hover {
    color: blue;
}

#container {
    margin: 50px auto;
    /* 
    This says that the pixel is 300px wide and then auto the border on each side
    */
    width: 300px;
    margin-bottom: 10px;
}


.form-wrap {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.form-group {
    margin: 20px 0;
}

.form-group label {
    display: block;
    font-size: 10px;
    text-align: left;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
}

button:hover {
    color: aqua;
}

label {
    padding-bottom: 5px;
    font-size: 20px;
}


/* 
button inherts position from form wrap - does not form part of form label
*/
.form-wrap button {
    width: 80%;
    background: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form-wrap .bottom-text {
    font-size: 12px;
    margin: 20px 0;
}

footer {
    margin: 10px auto;
    text-align: center;
    margin-bottom: 20px;
}

footer a:hover {
    color: rgb(47, 16, 218);
}

/* Sudo class hover*/

.form-wrap .bottom-text a:hover {
    text-decoration: underline;
    color: blue;
}

a:hover {
    color: blue;
}

button:hover {
    color: blue;
}